<% include ../partials/header %>
  




  <div class="row">
    <div class="col-md-4">
      <div class="rounded mx-auto d-block" >
        <img src="<%= user.avatar %>" alt="user profile image"><!-- 
        <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div> -->
      </div>
    </div>
    <div class="col-md-8">
      <a href="/users/<%= user._id%>/edit">Edit Profile</a>
      <h4>Name:<%= user.firstName + " " + user.lastName %></h4>
        <h4>Mail:<%= user.email %></h4>
        <h4>Username:<%= user.username %></h4>
        <h4>PIN:2215316248</h4>
        <br>
        <h3>
        Ongoing projects</h3>
        <br>
        <% campgrounds.forEach(campground => { %>
          <div class="col-md-4 col-sm-6">
            <div class="thumbnail card">
              <img src="<%= campground.image.url %>" alt="<%= campground.name %>">
              <div class="caption">
                <h4 class="caption"><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></h4>
              </div>
            </div>
          </div>
        <% }); %>
      </ul>
    </div>
    
  </div>
<% include ../partials/footer %>